<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Hello World!</title>

    <link rel="icon" th:href="@{/img/icons/favicon.ico}"/>
    <link rel="shortcut icon" th:href="@{/img/icons/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div class="container">
        Hello World!
    </div>
    <script th:href="@{/vendor/jquery/dist/jquery.js}"></script>
    <script th:href="@{/js/app.js}"></script>
</body>
</html>